@charset "utf-8";
/* CSS Document */

img {
    border-style: none;
}
/*select, input, textarea {
    outline: 0;
}*/
/*----------框架----------*/
/*  
   huangyuting
   2022-05-26
*/
/*滚动条整体部分*/
.prod_imgSmall ul::-webkit-scrollbar,
.fancybox-lock::-webkit-scrollbar,
body::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #fff;
}
/*滚动条的轨道*/
.prod_imgSmall ul::-webkit-scrollbar-track,
.fancybox-lock::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px #e4eaf5;
    background-color: #fff;
}
/*滚动条的滑块按钮*/
.prod_imgSmall ul::-webkit-scrollbar-thumb,
.fancybox-lock::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #e4e6ea;
    box-shadow: inset 0 0 3px #e4e6ea;
}
/*滚动条的上下两端的按钮*/
.prod_imgSmall ul::-webkit-scrollbar-button,
.fancybox-lock::-webkit-scrollbar-button,
body::-webkit-scrollbar-button {
    height: 0px;
    background-color: #e4e6ea;
}

.prod_imgSmall ul,
.fancybox-lock,
body {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #e2e5e7;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #e2e5e7;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #f6fafe;
    /*滚动条阴影*/
    scrollbar-shadow-color: #e4eaf5;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #f6fafe;
}

body, input, select, textarea, table {
    /*font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;*/
    font-family: "微软雅黑", "WenQuanYi Micro Hei", "PingFang SC","Hiragino Sans GB", "Heiti SC",Arial, sans-serif;
}

body {
    width: 100%;
    background-color: white;
}

    body.bac01 {
        background-color: white;
    }

input, select, option, textarea, button {
    outline: none !important;
}

    input:focus {
        outline: none !important;
    }

    textarea:focus {
        outline: none !important;
    }

    select:focus {
        outline: none !important;
    }

    option:focus {
        outline: none !important;
    }

    button:focus {
        outline: none !important;
    }

a {
    cursor: pointer;
}

.main_miw {
    min-width: 1300px;
}

.main_bg {
    width: 100%;
    min-width: 1300px;
}

.main_bgc {
    width: 96%;
    min-width: 1280px;
    margin: 0 auto;
}

.main_page {
    width: 100%;
    padding: 50px 0 70px 0;
    text-align: center;
}

.gotop {
    width: 54px;
    height: 54px;
    background: url(../images/ico_gotop1.png) center no-repeat;
    border: 1px solid #e0e2e4;
    background-color: white;
    position: fixed;
    right: 2%;
    bottom: 10%;
    z-index: 999;
    cursor: pointer;
    border-radius: 15px;
    display: none;
}

    .gotop:hover {
        background: url(../images/ico_gotop2.png) center no-repeat;
        border: 1px solid #003272;
        background-color: #003272;
    }
/***
    index
*/

.nav_bg {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    height: 111px;
    background-color: transparent;
}

.nav_fix {
    width: 100%;
    min-width: 1300px;
    height: 111px;
    background-color: transparent;
    /*    border-bottom: 1px solid #f5f6f9;*/
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: relative;
}

    .nav_fix .n_logo {
        display: block;
        float: left;
        width: 217px;
        height: 75px;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        margin-left: 10px;
        margin-top: 13px;
        background: url(../images/logo.png) left no-repeat;
        background-size: auto 100%;
    }

    .nav_fix.active .n_logo {
        width: 200px;
        height: 57px;
        background: url(../images/logo2.png) left no-repeat;
        background-size: auto 100%;
        margin-top: 6px;
    }

    .nav_fix .n_logo:hover {
        filter: alpha(opacity=70);
        -moz-opacity: 0.7;
        -webkit-opacity: 0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
    }

.n_nav {
    /* float: right;*/
    margin-right: 10px;
}

    .n_nav ul {
        width: 100%;
        text-align: center;
        padding-top: 35px;
    }

        .n_nav ul li {
            height: 65px;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            position: relative;
            padding: 0 5px;
        }

            .n_nav ul li > a {
                display: inline-block;
                padding: 0 18px;
                border-radius: 5px;
                height: 32px;
                line-height: 32px;
                font-size: 16px;
                color: white;
                text-align: center;
                /*text-transform: uppercase;*/
                position: relative;
            }

            .n_nav ul li.n_li > a > span {
                display: inline-block;
                /*vertical-align: middle;*/
            }

            /*   .nav_fix .n_nav ul li.n_li .dl {
                    width: 7px;
                    height: 5px;
                    background: url(../images/ico_triangle3.png) center no-repeat;
                    margin-left: 8px;
                    -webkit-transition: all 0.3s ease 0s;
                    -moz-transition: all 0.3s ease 0s;
                    -o-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                }

                .nav_fix .n_nav ul li.n_li:hover > a .dl,
                .nav_fix .n_nav ul li.n_li > a.act .dl {
                    background: url(../images/ico_triangle3_2.png) center no-repeat;
                }*/

            .n_nav ul li a:hover,
            .n_nav ul li a.act {
                color: white;
                /* background: -webkit-linear-gradient(to right, #003272, #003272);
                background: -o-linear-gradient(to right, #003272, #003272);
                background: -moz-linear-gradient(to right, #003272, #003272);
                background: linear-gradient(to right, #003272, #003272);*/
                background: #003272;
            }
            /*.nav_fix .n_nav ul li > a i {
                    display: inline-block;
                    width: 0;
                    height: 4px;
                    border-radius: 6px;
                    background-color: #003272;
                    position: absolute;
                    top: 90px;
                    left: 50%;
                    margin-left: -13px;
                    -webkit-transition: all 0.3s ease 0s;
                    -moz-transition: all 0.3s ease 0s;
                    -o-transition: all 0.3s ease 0s;
                    transition: all 0.3s ease 0s;
                }

                .nav_fix .n_nav ul li > a:hover i,
                .nav_fix .n_nav ul li > a.act i {
                    width: 26px;
                }*/

            .n_nav ul li .n_nav_droplist {
                position: absolute;
                top: 60px;
                left: 50%;
                -webkit-transform: translate(-50%, 0);
                transform: translate(-50%, 0);
                background-color: white;
                border: 1px solid #e3e3e3;
                z-index: 9999;
                text-align: center;
                white-space: nowrap;
                -moz-box-shadow: 0px 0px 10px rgba(14,14,14,0.15);
                -webkit-box-shadow: 0px 0px 10px rgba(14,14,14,0.15);
                box-shadow: 0px 0px 10px rgba(14,14,14,0.15);
                border-radius: 8px;
                padding: 6px;
                display: none;
            }

.nav_fix ul li .n_nav_droplist > a {
    display: block;
    min-width: 160px;
    height: 40px;
    line-height: 40px;
    padding: 0 8px;
    white-space: nowrap;
    color: #000000;
    font-size: 15px;
    margin: 5px 0;
    border-radius: 5px;
}

.n_nav ul li .n_nav_droplist > a:hover {
    color: white;
    background: -webkit-linear-gradient(to right, #133984, #6eb7e7);
    background: -o-linear-gradient(to right, #133984, #6eb7e7);
    background: -moz-linear-gradient(to right, #133984, #6eb7e7);
    background: linear-gradient(to right, #133984, #6eb7e7);
    background: #3061a4\9;
}

.n_nav ul li.n_li:hover .n_nav_droplist {
    display: block;
}

.nav_fix.active {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: none;
    background-color: white;
    /*border-bottom: 1px solid #eeeff2;*/
    -moz-box-shadow: 0 0 13px rgba(120,131,139,0.2);
    -webkit-box-shadow: 0 0 13px rgba(120,131,139,0.2);
    box-shadow: 0 0 13px rgba(120,131,139,0.2);
}


    .nav_fix.active .n_nav {
        height: 70px;
    }

        .nav_fix.active .n_nav ul {
            padding-top: 22px;
        }

            .nav_fix.active .n_nav ul li {
                height: 46px;
            }

                .nav_fix.active .n_nav ul li > a {
                    height: 30px;
                    line-height: 30px;
                    color: black;
                }

                    .nav_fix.active .n_nav ul li > a:hover,
                    .nav_fix.active .n_nav ul li > a.act {
                        color: white;
                    }

                    .nav_fix.active .n_nav ul li > a i {
                        top: 58px;
                    }

    .nav_fix.active ul li .n_nav_droplist {
        top: 45px;
    }

.footer_dbgc {
    width: 100%;
    color: white;
    background-color: #003272;
    padding: 22px 0;
    font-size: 16px;
    text-align: center;
}

    .footer_dbgc span {
        color: #0c2901;
        padding: 0 15px 0 0;
        display: inline-block;
        vertical-align: text-bottom;
    }

    .footer_dbgc a {
        color: white;
        padding: 0 2px;
        display: inline-block;
        margin-left: 5px;
    }

        .footer_dbgc a:hover {
            color: #a7fcff;
            text-decoration: underline;
        }

/*弹出框*/
.popUp {
    width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -400px;
    margin-top: -295px;
    z-index: 9999;
    background-color: white;
    display: none;
}

    .popUp div.popUp_con {
        width: auto;
        -moz-box-shadow: 0 2px 18px rgba(0,0,0,0.23);
        -webkit-box-shadow: 0 2px 18px rgba(0,0,0,0.23);
        box-shadow: 0 2px 18px rgba(0,0,0,0.23);
        margin-bottom: 0;
        background-color: white;
    }

.popUp_wbg {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    -webkit-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    z-index: 9998;
    display: none;
}

.popUp_tit {
    width: 100%;
    height: 42px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #dddddd;
}

    .popUp_tit .tit {
        height: 42px;
        line-height: 42px;
        padding-left: 20px;
        font-weight: bold;
        color: black;
        font-size: 14px;
        float: left;
        text-transform: uppercase;
    }

    .popUp_tit .popUp_clo {
        float: right;
        display: block;
        width: 55px;
        height: 45px;
        background: url(../images/pop_close.png) center no-repeat;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
    }

        .popUp_tit .popUp_clo:hover {
            background: url(../images/pop_close2.png) center no-repeat;
            transform: rotate(180deg);
            -ms-transform: rotate(180deg); /* IE 9 */
            -moz-transform: rotate(180deg); /* Firefox */
            -webkit-transform: rotate(180deg); /* Safari and Chrome */
            -o-transform: rotate(180deg); /* Opera */
        }

.popUp_con .btn {
    width: 100%;
    padding: 6px 0 20px 0;
    text-align: center;
    background-color: #f5f5f5;
}

.popUp_con .con {
    width: 100%;
    height: 450px;
}

.popUp_con .pad {
    padding: 13px 12px 0 12px;
}

.fhlhbtn {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    *line-height: normal;
    border: 1px solid #003272;
    background-color: #003272;
    cursor: pointer;
    margin-top: 14px;
    border-radius: 4px;
    padding: 0 30px;
    *padding: 0 12px;
    font-size: 14px;
    color: White;
    text-transform: uppercase;
}

    .fhlhbtn:hover {
        background-color: #f89c14;
    }

.fhlhbtn_qx {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    *line-height: normal;
    background-color: white;
    border: 1px solid #dddddd;
    cursor: pointer;
    margin-top: 14px;
    border-radius: 4px;
    padding: 0 30px;
    *padding: 0 12px;
    font-size: 14px;
    color: black;
    margin-left: 15px;
}

    .fhlhbtn_qx:hover {
        background-color: #f9fafe;
        border: 1px solid #24325d;
        color: #24325d;
    }
/*弹出框end*/
.all_posi {
    width: 100%;
    color: #4c4948;
    font-size: 15px;
    text-transform: uppercase;
    padding: 25px 0;
}

    .all_posi .tit {
        padding-left: 32px;
        height: 25px;
        line-height: 25px;
        background: url(../images/ico_triangle2.png) 16px no-repeat;
    }

    .all_posi a {
        display: inline-block;
        vertical-align: middle;
        color: #4c4948;
    }

        .all_posi a:hover {
            color: #f5ab1b;
        }

    .all_posi i {
        display: inline-block;
        vertical-align: middle;
        color: #4c4948;
        padding: 0 10px;
    }

    .all_posi span {
        display: inline-block;
        vertical-align: middle;
        color: #003272;
    }

.all_con {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #eceff1;
}

.all_tit {
    width: 100%;
    margin: 0 auto;
    color: #003272;
    font-size: 16px;
    text-transform: uppercase;
    padding: 20px 0 17px 0;
    border-bottom: 1px solid #dddddd;
}

.det_con {
    width: 100%;
    margin: 0 auto;
}

    .det_con.bg_white {
        background-color: white;
    }

    .det_con.bg_gray {
        background-color: #f3f3f3;
    }

.det_cpa {
    padding: 0 10px;
}

.det_tit {
    font-size: 46px;
    font-weight: bold;
    color: #003272;
    line-height: 1.2;
    /*  text-transform: uppercase;
    border-bottom: 1px solid #003272;*/
    padding: 70px 0 35px 0;
    text-align: left;
}

.det_pb {
    width: 100%;
}

.det_c {
    color: #222222;
    line-height: 1.8;
    padding-bottom: 50px;
}

    .det_c img {
        display: inline-block;
        vertical-align: middle;
        max-width: 100% !important;
        height: auto !important;
    }

    .det_c table,
    .det_c div,
    .det_c p,
    .det_c h1,
    .det_c h2 {
        max-width: 100% !important;
    }

    .det_c table {
        width: 100% !important;
    }
/**
        detail
    */

.tit_posi {
    width: 100%;
    padding: 25px 0;
    font-size: 16px;
    color: #467f44;
    text-transform: uppercase;
}

    .tit_posi span {
        height: 34px;
        line-height: 34px;
        display: inline-block;
    }

    .tit_posi .ico {
        padding: 2px 0 1px 72px;
        background: url(../images/ico_posi.png) 16px no-repeat;
    }

    .tit_posi a.ico {
        height: 34px;
        line-height: 34px;
        display: inline-block;
        color: #4c4948;
    }

        .tit_posi a.ico:hover {
            display: inline-block;
            color: #89da68;
        }

    .tit_posi span.now {
        color: #003272;
    }

    .tit_posi i {
        height: 52px;
        line-height: 52px;
        display: inline-block;
        padding: 0 12px;
    }

.img_auto {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

    .img_auto img {
        display: inline-block;
        max-width: 100%;
        min-height: 100%;
        object-fit: cover;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

/**
        other
    */

.ind_ban {
    width: 100%;
    height: 795px;
    margin: 0 auto;
    background-color: #121212;
}

.ind_bant {
    position: relative;
    width: 100%;
    height: 795px;
    overflow: hidden;
    zoom: 1;
}

    .ind_bant ul.ban_slides li {
        width: 100%;
        height: 795px;
        /* background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;*/
        background-color: #121212;
    }

.ind_banimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: inline-block;
    vertical-align: middle;
}

.ban_btn a {
    width: 65px;
    height: 65px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

    .ban_btn a.ban_next {
        background: url(../images/ban_right.png) no-repeat;
        position: absolute;
        top: 50%;
        right: 10%;
        margin-top: -30px;
        z-index: 10;
    }

    .ban_btn a.ban_pre {
        background: url(../images/ban_left.png) no-repeat;
        position: absolute;
        top: 50%;
        left: 10%;
        margin-top: -30px;
        z-index: 10;
    }

.ind_bant:hover .ban_next {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.ind_bant:hover .ban_pre {
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -webkit-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

    .ind_bant:hover .ban_next:hover, .ind_bant:hover .ban_pre:hover {
        filter: alpha(opacity=100);
        -moz-opacity: 1;
        -webkit-opacity: 1;
        -khtml-opacity: 1;
        opacity: 1;
    }

#focus .btn {
    width: 100%;
    height: 40px;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 15;
}

    #focus .btn span {
        display: inline-block;
        _zoom: 1;
        width: 15px;
        height: 8px;
        background-color: #f5f6f9;
        _font-size: 0;
        margin-left: 5px;
        cursor: pointer;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }

        #focus .btn span.on,
        #focus .btn span:hover {
            width: 26px;
            background-color: #ff6334;
        }

.b_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.flew_1 {
    flex: 1;
}

.fw_w {
    flex-wrap: wrap;
}

.f_fl {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}

.f_fl_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.f_fr {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}

.f_fr_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.f_fc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.f_fc_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.f_flrb {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.f_flrb_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.f_flra {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.f_flrc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.pager .act {
    border: 1px solid #003272 !important;
    background: #003272 !important;
}

.pager a {
    border: 1px solid #ededed !important;
}

/*.swiper-slide {
    background: #fff;*/
/* Center slide text vertically */
/*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}


    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }*/

.swiper-button-next, .swiper-button-prev {
    width: 65px !important;
    height: 65px !important;
    color: transparent !important;
    margin-top: -33px !important;
    outline: 0 !important;
}


    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: '' !important;
        outline: 0 !important;
        filter: drop-shadow(1px 2px 4px rgb(0,0,0,0.15)) !important;
    }

    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        pointer-events: all !important;
    }

    .swiper-button-next:after {
        width: 65px !important;
        height: 65px !important;
        background: url(../images/ban_right.png) center no-repeat;
    }

    .swiper-button-prev:after {
        width: 65px !important;
        height: 65px !important;
        background: url(../images/ban_left.png) center no-repeat;
    }

.ind_banner_swiper {
    width: 100%;
    /*max-width: 1920px;*/
    min-width: 1300px;
    margin: 0 auto;
    overflow: hidden;
}

    .ind_banner_swiper .swiper {
        width: 100%;
        /* height: 100%;*/
        max-height: 90vh;
        min-height: 400px;
        background-color: black;
    }

.ind_banner_swiper_con {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.ind_banner_swiper .swiper-pagination-bullet {
    background-color: white;
}

.ind_banner_swiper .swiper-pagination-bullet-active {
    background-color: white;
}


.ind_banner_swiper .swiper-button-next {
    right: 5%;
}

.ind_banner_swiper .swiper-button-prev {
    left: 5%;
}

/**
    other
*/
.b_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fw_w {
    flex-wrap: wrap;
}

.f_fl {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}

.f_fr {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}

.f_fc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.f_flrb {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.f_flra {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.f_flrc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.f_fl_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.f_fr_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.f_fc_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.f_flrb_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.f_flra_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.f_flrc_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.ind_tit {
    font-size: 46px;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 55px;
}

.ind_tits {
    font-size: 30px;
    color: #003272;
    font-weight: bold;
}


.ind_about {
    width: 100%;
    padding: 40px 0;
}

.ind_aboutbg {
    width: 41%;
    padding-bottom: 20px;
    position: relative;
    z-index: 10;
}

.ind_about_c {
    width: 100%;
}

.ind_about_cpa .ind_pro_tit {
    text-align: left;
    padding: 15px 0 20px 0;
}

.ind_about_cpa .ind_more {
    margin: 30px 0 0 0;
}

.ind_about_cpa .fl {
    width: 347px;
    height: 390px;
    overflow: hidden;
    border-radius: 20px;
}

    .ind_about_cpa .fl img {
        width: 100%;
        height: 100% !important;
        object-fit: cover;
        display: inline-block;
        vertical-align: middle;
        -webkit-transition: all 0.35s ease 0s;
        -moz-transition: all 0.35s ease 0s;
        -o-transition: all 0.35s ease 0s;
        transition: all 0.35s ease 0s;
    }

.ind_about .con {
    width: 100%;
    color: #011b29 !important;
    font-size: 18px !important;
    line-height: 1.6 !important;
    /* max-height: 200px !important; */
    height: 172px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden !important;
    margin: 30px 0 35px 0;
}

.ind_about_cimg {
    width: 53%;
    /*  width: 100%;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;*/
}

    .ind_about_cimg img {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }

.ind_more {
    display: block;
    width: 150px;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-size: 16px;
    /*text-transform: uppercase;*/
    background: #003272;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin: 10px 0 0 0;
    font-weight: bold;
}

    .ind_more:hover {
        background: #1c62bb;
    }


.about_img {
    width: 100%;
}

    .about_img img {
        width: 100%;
        display: inline-block;
        vertical-align: middle;
    }


.nav_fr {
    float: right;
    /* position: absolute;
    right: 0;
    top: 0;*/
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
}

    .nav_fr .i_s {
        color: #505460;
        display: inline-block;
        padding: 0 10px;
    }

    .nav_fr .i_search {
        width: 29px;
        height: 29px;
        display: inline-block;
        vertical-align: bottom;
        background: url(../images/i_search.png) center no-repeat;
        background-size: 100% auto;
        -webkit-transition: all 0.35s ease 0s;
        -moz-transition: all 0.35s ease 0s;
        -o-transition: all 0.35s ease 0s;
        transition: all 0.35s ease 0s;
    }

        .nav_fr .i_search:hover {
            filter: alpha(opacity=50);
            -moz-opacity: 0.5;
            -webkit-opacity: 0.5;
            -khtml-opacity: 0.5;
            opacity: 0.5;
        }

.nav_fix.active .nav_fr .i_search {
    width: 24px;
    height: 24px;
    background: url(../images/i_search2.png) center no-repeat;
    background-size: 100% auto;
}

.nav_frc {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: none;
    font-size: 14px;
    color: #232323;
    text-align: left;
    margin-right: 10px;
}

    .nav_frc:focus {
        outline: 0;
    }

    .nav_frc:hover {
        color: #003272;
    }

    .nav_frc span {
        display: inline-block;
        width: 26px;
        height: 19px;
    }

        .nav_frc span.ico1 {
            background: url(../images/ico_China.png) left no-repeat;
        }

        .nav_frc span.ico2 {
            background: url(../images/ico_English.png) left no-repeat;
        }

.nav_fr.mt_1 {
    margin-top: 38px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.nav_fix.active .nav_fr.mt_1 {
    margin-top: 25px;
}

.all_ban {
    width: 100%;
    height: 580px;
    /*border-top: 1px solid #595d60;*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

    .all_ban.top_about {
        background-image: url(../images/top_about.jpg);
    }

    .all_ban.top_contact {
        background-image: url(../images/top_contact.jpg);
    }

    .all_ban.top_pro {
        background-image: url(../images/top_pro.jpg);
    }

    .all_ban.top_equ {
        background-image: url(../images/top_equ.jpg);
    }

    .all_ban.top_news {
        background-image: url(../images/top_news.jpg);
    }

.all_banc {
    width: 100%;
    /*max-width: 1920px;*/
    min-width: 1300px;
    margin: 0 auto;
}


.all_ban .tit {
    text-transform: uppercase;
    color: white;
    font-size: 66px;
    line-height: 1.1;
    font-weight: bold;
    font-style: italic;
    padding: 250px 10px 0 10px;
}

.all_bantit {
    font-size: 20px;
    /*text-transform: uppercase;*/
    color: white;
    padding-top: 25px;
    font-style: italic;
    padding: 25px 10px 0 10px;
}

    .all_bantit a {
        height: 25px;
        line-height: 25px;
        display: inline-block;
        vertical-align: middle;
        color: white;
    }

        .all_bantit a:hover {
            color: #2081fe;
        }

    .all_bantit i {
        display: inline-block;
        vertical-align: middle;
        padding: 0 10px;
    }

    .all_bantit span {
        display: inline-block;
        vertical-align: middle;
    }

.pro_detc_con {
    width: 650px;
    float: right;
    padding-right: 52px;
    padding-top: 60px;
}

    .pro_detc_con .title {
        font-size: 52px;
        color: #003272;
        font-weight: bold;
        padding-bottom: 30px;
        border-bottom: 1px solid #b6b6b6;
    }

.pro_detc_t {
    width: 100%;
    padding-top: 10px;
}

.pro_detc_table {
    width: 100%;
    border: 2px solid white;
    font-size: 24px;
    color: #616767;
    border-collapse: collapse;
}

    .pro_detc_table th,
    .pro_detc_table td {
        padding: 5px 8px 5px 0;
        height: 60px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        text-align: left;
    }

    .pro_detc_table th {
        padding: 18px 8px 2px 0;
        font-size: 18px;
        color: #003272;
    }

    .pro_detc_table td {
        font-size: 16px;
        color: #000000;
        vertical-align: top;
    }

        .pro_detc_table td p {
            padding: 5px 0;
            line-height: 1.2;
        }

.c_red {
    color: #003272;
}

.ind_fac_sw .swiper-button-next {
    right: 5px;
}

.ind_fac_sw .swiper-button-prev {
    left: 5px;
}

.swiper-button-next, .swiper-button-prev {
    width: 70px !important;
    height: 70px !important;
    color: transparent !important;
    margin-top: -40px !important;
    outline: 0 !important;
}

    .swiper-button-next:after {
        width: 70px !important;
        height: 70px !important;
        background: url(../images/i_right.png) center no-repeat;
        background-size: 100% auto;
        background-color: white;
        border-radius: 80px;
    }

    .swiper-button-prev:after {
        width: 70px !important;
        height: 70px !important;
        background: url(../images/i_left.png) center no-repeat;
        background-size: 100% auto;
        background-color: white;
        border-radius: 80px;
    }

        .swiper-button-next:after:hover,
        .swiper-button-prev:after:hover {
            background-color: #003272;
        }

.pro_img {
    width: 100%;
    padding: 30px 0 70px 0;
}

    .pro_img .swiper {
        width: 100%;
    }

    .pro_img .swiper-slide .img_auto {
        width: 100%;
        height: auto;
        display: block;
        border-radius: 10px;
        aspect-ratio: 1.55 / 1;
    }

.bg_gray {
    background: #f3f3f3;
}

.news_det .det_tit {
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    /*  text-transform: uppercase;
    border-bottom: 1px solid #3057a4;*/
    padding: 55px 0 25px 0;
    text-align: center;
}

.news_det .det_time {
    width: 100%;
    font-size: 18px;
    color: #626262;
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #cbcbcb;
}

.news_det .det_c {
    padding: 55px 0;
}

.news_list {
    width: 100%;
}

    .news_list ul {
        width: 100%;
    }

        .news_list ul li {
            width: 100%;
            padding: 40px 0;
            border-bottom: 1px solid #cbcbcb;
        }

            .news_list ul li:last-child {
                border-bottom: 0;
            }

.news_la {
    width: 100%;
}

.news_limg {
    width: 400px;
    height: 258px;
    background: #000000;
    border-radius: 10px;
    background: white;
    overflow: hidden;
    /* float: left;*/
    display: block;
    position: relative;
    flex: none;
}

    .news_limg img {
        min-width: 100%;
        height: 100% !important;
        object-fit: cover;
        display: inline-block;
        vertical-align: middle;
        -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: 1;
    }

    .news_limg:hover img {
        transform: scale(1.12);
        -webkit-transform: translate(-50%, -50%) scale(1.4);
        -moz-transform: translate(-50%, -50%) scale(1.4);
        -o-transform: scale(1.12);
    }

.news_lc {
    flex: 1;
    padding-left: 4%;
    min-width: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.news_lc_tit {
    width: 100%;
    font-size: 30px;
    color: #003272;
    display: block;
    margin-top: 20px;
    line-height: 1.4;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news_lc_con {
    width: 100%;
    height: 87px;
    font-size: 18px !important;
    color: #000000 !important;
    display: -webkit-box !important;
    -webkit-box-orient: vertical !important;
    -webkit-line-clamp: 3 !important;
    line-height: 1.6 !important;
    overflow: hidden;
    margin-top: 26px;
}

.news_limg.equ_limg {
    width: 511px;
    height: 330px;
    flex: none;
}

.equ_lc_con {
    width: 100%;
    font-size: 18px !important;
    color: #000000 !important;
    line-height: 1.6 !important;
    margin-top: 28px;
}

.news_lc_con div,
.news_lc_con span,
.news_lc_con i,
.news_lc_con a,
.news_lc_con p,
.news_lc_con h1
.news_lc_con h2 {
    font-size: 18px !important;
    color: #000000 !important;
    line-height: 1.6 !important;
}

.news_lca {
    display: block;
}

a.news_lca:hover .news_lc_tit {
    color: #003272;
}

a.news_lca:hover .news_lc_con {
    color: #003272 !important;
}

.news_lc_footer {
    width: 100%;
    margin-top: 28px;
}

.news_lc_time {
    width: 100%;
    margin-top: 40px;
}

    .news_lc_time span {
        display: inline-block;
        vertical-align: middle;
        color: #626262;
        font-size: 18px;
    }

.b_box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.fw_w {
    flex-wrap: wrap;
}

.f_fl {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-align-items: center;
    align-items: center;
}

.f_fr {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}

.f_fc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.f_flrb {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}

.f_flra {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    align-items: center;
}

.f_flrc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}

.f_fl_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.f_fr_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: flex-end;
    -webkit-justify-content: flex-end;
}

.f_fc_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.f_flrb_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}

.f_flra_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.f_flrc_nc {
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.pb0 {
    padding-bottom: 0 !important;
}

.pro_ibg {
    width: 25%;
    min-width: 445px;
}

.pro_ibg2 {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
}

.pro_ia {
    padding: 20px 0 20px 37px;
    font-weight: bold;
    font-size: 30px;
    color: #000000;
    border-bottom: 1px solid #E9E9E9;
}

.pro_ibg2 .pro_ia:last-child {
    border-bottom: 0;
}

.pro_i1,
.pro_i2 {
    width: 64px;
    height: 64px;
    background: url(../images/pro_i1.png) center no-repeat;
    background-size: auto 100%;
    margin-right: 25px;
    flex: none;
}

.pro_i2 {
    background: url(../images/pro_i2.png) center no-repeat;
    background-size: auto 100%;
}

.pro_ir {
    width: 84px;
    height: 17px;
    background: url(../images/pro_ir.png) center no-repeat;
    background-size: auto 100%;
    margin-right: 15px;
    flex: none;
}

.pro_ia:hover {
    color: #003272;
}

    .pro_ia:hover .pro_ir {
        background: url(../images/pro_ir2.png) center no-repeat;
        background-size: auto 100%;
    }

.pro_c {
    width: 100%;
}

    .pro_c .det_c {
        padding-right: 4%;
    }

.det_nav {
    width: 100%;
    border-bottom: 1px solid #D7D7D7;
}

    .det_nav ul {
        width: 100%;
    }

        .det_nav ul li {
            margin: 0 10px;
        }

            .det_nav ul li a {
                display: block;
                height: 90px;
                line-height: 85px;
                white-space: nowrap;
                text-align: center;
                font-size: 24px;
                color: #000000;
                font-weight: bold;
                position: relative;
            }

                .det_nav ul li a::after {
                    content: "";
                    width: 100%;
                    height: 6px;
                    background: #003272;
                    border-radius: 3px;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: none;
                }

                .det_nav ul li a.act {
                    color: #003272;
                }

                .det_nav ul li a:hover {
                    color: #003272;
                }

                .det_nav ul li a.act::after {
                    display: block;
                }

.proa_nav {
    width: 100%;
}

.proa_nav_a {
    display: block;
    padding: 18px 40px;
    text-align: center;
    white-space: nowrap;
    background: #e0e4e9;
    border-radius: 10px;
    margin: 5px 13px 5px 0;
    font-size: 18px;
    color: #000000;
    line-height: 1;
    cursor: pointer;
}

    .proa_nav_a:hover {
        color: #003272;
    }

    .proa_nav_a.active {
        background: #003272;
        color: white;
    }

.proa_cbg {
    width: 100%;
    padding: 40px 0;
}

.proa_con {
    width: 100%;
    display: none;
}

    .proa_con.f_fl {
        -webkit-align-items: flex-start;
        align-items: flex-start;
    }

    .proa_con.active {
        display: flex;
    }

.proa_c {
    /*width: 513px;*/
    /*margin-right: 20px;*/
    padding-bottom: 40px;
    width: 31.8%;
    margin-right: 1.8%;
}

/*  .proa_c .img_auto img {
        width: 100%;
        height: 100%;
        max-width: unset;
        min-height: unset;
    }*/
.proa_con .proa_c:nth-child(3n) {
    margin-right: 0;
}

.proa_c .img_auto {
    width: 100%;
    /*height: 354px;*/
    aspect-ratio: 1.45 / 1;
    border-radius: 10px;
    border: 1px solid #ebedef;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.proa_c .tit {
    margin-top: 25px;
    font-weight: bold;
    font-size: 24px;
    color: #000000;
    padding: 0 15px;
}

.abo_con {
    width: 100%;
    background: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #E9E9E9;
}

.abo_c {
    width: 25%;
    text-align: center;
    padding: 40px 0;
    border-left: 1px solid #E9E9E9;
}

.abo_con .abo_c:first-child {
    border-left: 0;
}

.abo_c .ico {
    display: block;
    width: 75px;
    height: 70px;
    margin: 0 auto;
}

    .abo_c .ico.ico1 {
        background: url(../images/ind_i1.png) center no-repeat;
    }

    .abo_c .ico.ico2 {
        background: url(../images/ind_i2.png) center no-repeat;
    }

    .abo_c .ico.ico3 {
        background: url(../images/ind_i3.png) center no-repeat;
    }

    .abo_c .ico.ico4 {
        background: url(../images/ind_i4.png) center no-repeat;
    }

.abo_c .num {
    font-weight: bold;
    font-size: 20px;
    color: #003272;
    margin-top: 20px;
}

.abo_c .tit {
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    margin-top: 12px;
}

.w_pb {
    width: 100%;
    padding-bottom: 70px;
}

.abob_tit {
    width: 100%;
    margin-top: 8px;
}

.abob_logo.img_auto {
    width: 85px;
    height: 85px;
    background: #F7F7F7;
    border-radius: 10px;
    flex: none;
}

    .abob_logo.img_auto img {
        min-height: auto;
        max-height: 100%;
    }

.abob_tit .title {
    flex: 1;
    margin-left: 18px;
}

    .abob_tit .title .tit {
        font-weight: bold;
        font-size: 30px;
        color: #003272;
        margin-top: 5px;
    }

    .abob_tit .title .con {
        margin-top: 3px;
        font-weight: bold;
        font-size: 18px;
        color: #000000;
    }

.abob_list.news_list ul li {
    border-bottom: 0;
}

    .abob_list.news_list ul li:first-child {
        padding-top: 25px;
    }

.aboc_box {
    width: 96%;
    max-width: 1600px;
    margin: 50px auto 0 auto;
    position: relative;
}

    .aboc_box::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        bottom: 0;
        width: 1px;
        background-color: #e5e8f0;
        transform: translateX(-50%);
    }

.aboc_item {
    display: flex;
    padding: 35px 0 55px 0;
    position: relative;
}

    .aboc_item:nth-child(odd) {
        justify-content: flex-start;
    }

    .aboc_item:nth-child(even) {
        justify-content: flex-end;
    }

.aboc_card {
    width: 44%;
    background: #FFFFFF;
    box-shadow: 0px 8px 27px 0px rgba(13, 44, 99, 0.28);
    border-radius: 10px;
    padding: 44px 50px 44px 22px;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.aboc_circle {
    width: 142px;
    height: 111px;
    background: url(../images/aboc_ico.png) center no-repeat;
    color: #fff;
    font-size: 46px;
    text-align: center;
    font-weight: bold;
    line-height: 90px;
    position: absolute;
    top: -75px;
    z-index: 9;
}

.aboc_item:nth-child(odd) .aboc_circle {
    right: 20px;
    transform: translateX(50%);
}

.aboc_item:nth-child(even) .aboc_circle {
    left: 20px;
    transform: translateX(-50%);
    background: url(../images/aboc_ico2.png) center no-repeat;
}

.aboc_item:nth-child(even) .aboc_card {
    padding: 44px 22px 44px 50px;
}

.aboc_text {
    font-size: 20px;
    color: #010101;
    line-height: 1.3;
}

.search_s {
    width: 468px;
    height: 44px;
    border: 1px solid #d4d4d4;
    background-color: white;
    border-radius: 10px;
    margin: 56px auto 0 auto;
    overflow: hidden;
}

.search_sc {
    width: 100%;
}

    .search_sc .search_st {
        float: left;
        display: block;
        width: 335px;
        height: 44px;
        line-height: 44px;
        padding: 0 0 0 15px;
        border: 0;
        outline: 0;
        color: #000000;
        font-size: 16px;
        background-color: transparent;
    }

.search_s:hover {
    border: 1px solid #0070ff;
    outline: 0;
}

.search_sc .search_sbtn {
    float: right;
    display: block;
    padding: 0 15px 0 35px;
    height: 44px;
    cursor: pointer;
    border: 0;
    outline: 0;
    background: url(../images/ico_search2.png) 15px no-repeat;
    color: #4c4948;
    font-size: 17px;
    -webkit-transition: all 0.23s ease 0s;
    -moz-transition: all 0.23s ease 0s;
    -o-transition: all 0.23s ease 0s;
    transition: all 0.23s ease 0s;
}

    .search_sc .search_sbtn:hover {
        background: url(../images/ico_search3.png) 15px no-repeat #003272;
        color: white;
    }

.ind_pro {
    width: 100%;
    background: url(../images/ind_pbg.jpg) center no-repeat;
    background-size: 100% 100%;
    /*background: url(../images/ind_pro_bg.jpg) center bottom no-repeat;
    background-size: cover;*/
    padding-top: 57px;
    padding-bottom: 47px;
    -webkit-transition: all 0.35s ease 0s;
    -moz-transition: all 0.35s ease 0s;
    -o-transition: all 0.35s ease 0s;
    transition: all 0.35s ease 0s;
}

    .ind_pro .mySwiper2 {
        width: 100%;
        /* aspect-ratio: 3.44 / 1;*/
        min-height: 470px;
        aspect-ratio: 3.5 / 1;
    }

    .ind_pro .swiper-wrapper {
        height: calc(100% - 40px);
    }

    .ind_pro .swiper-slide {
        width: 85%; /* 控制卡片宽度，留出左右空间 */
        height: 100%;
        background-color: #c8cccf;
        color: #fff;
        /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;*/
        border-radius: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        overflow: hidden;
    }

.ind_pro_c {
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 12%;
}

.ind_pro .ind_pro_c .title {
    font-size: 30px;
    color: #FFFFFF;
    text-shadow: 0px 0px 13px rgba(4,37,62,0.39);
    margin-bottom: 15px;
}

.ind_pro .ind_pro_c .desc {
    font-size: 18px;
    line-height: 1.6;
    color: #FFFFFF;
    text-shadow: 0px 0px 2px rgba(4,37,62,0.78);
    margin-bottom: 35px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden !important;
}

.ind_pro .swiper-pagination-bullet {
    background-color: #757d82;
}

.ind_pro .swiper-pagination-bullet-active {
    background-color: #0072ff;
}

.ind_pro .swiper-horizontal > .swiper-pagination-bullets,
.ind_pro .swiper-pagination-bullets.swiper-pagination-horizontal,
.ind_pro .swiper-pagination-custom,
.ind_pro .swiper-pagination-fraction {
    bottom: 0;
}

.ind_fbg {
    width: 100%;
    padding: 50px 0;
    color: #FFFFFF;
    text-align: center;
    background: url(../images/ind_fbg.jpg) center no-repeat;
    background-size: 100% 100%;
}

    .ind_fbg .tit {
        font-weight: bold;
        font-size: 46px;
    }

    .ind_fbg .con {
        font-weight: bold;
        font-size: 18px;
        margin-top: 18px;
    }

    .ind_fbg .ind_fbga {
        display: block;
        width: 214px;
        height: 56px;
        line-height: 55px;
        background: rgba(0,0,0,0);
        border-radius: 10px;
        border: 1px solid #FFFFFF;
        font-weight: bold;
        font-size: 18px;
        margin: 30px auto 0 auto;
        color: #FFFFFF;
        text-align: center;
    }

        .ind_fbg .ind_fbga:hover {
            background-color: rgba(255,255,255,0.28);
            color: #FFFFFF;
        }

.ind_about .ind_tit {
    padding-bottom: 10px;
}

.ind_about .abo_con {
    width: 161%;
    max-width: 1600px;
    position: relative;
    z-index: 10;
    background: url(../images/ind_g1.png) no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255,255,255, 0.75);
    margin-top: 40px;
    border: 0;
    padding-right: 1%;
}

.ind_about .abo_c {
    width: 25%;
    padding-left: 3%;
    border-left: 0;
    text-align: left;
}

    .ind_about .abo_c .ico {
        margin: 0;
    }

.ind_abob {
    width: 100%;
    padding: 57px 0;
}


.ind_abob_list.news_list ul li {
    width: 31.8%;
    /* max-width: 511px;*/
    border-bottom: 0;
    background-color: #f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}


    .ind_abob_list.news_list ul li:first-child {
        padding-top: 0;
    }

.ind_abob_list.news_list .news_lc {
    flex: auto;
    padding: 25px 3% 28px 3%;
}

.ind_abob_list.news_list .abob_logo.img_auto {
    background-color: white;
}

.ind_abob_list.news_list .news_limg {
    border-radius: 0;
}

.ind_abob_list.news_list .abob_tit {
    margin-top: 0;
}

    .ind_abob_list.news_list .abob_tit .title .tit {
        font-size: 1.26vw;
    }

@media screen and (max-width: 1320px) {
    .ind_abob_list.news_list .abob_tit .title .tit {
        font-size: 18px;
    }

    .ind_abob_list.news_list .abob_tit .title .con {
        font-size: 16px;
    }
}

.ind_abob_list.news_list .equ_lc_con {
    line-height: 1.5 !important;
    margin-top: 22px;
    max-height: 172px !important;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden !important;
}

.ind_abob_list.news_list .news_limg.equ_limg {
    width: 100%;
    aspect-ratio: 1.55 / 1;
    height: auto;
}

.news_list.pb30 .news_lc_tit {
    overflow: unset;
    text-overflow: unset;
    white-space: normal;
    line-height: 1.2;
}
